{% assign back_to_top = shop.metafields.back_to_top.settings.value %}
{% assign cookie_consent = shop.metafields.cookie_consent.settings.value %}

{% if back_to_top or cookie_consent %}
  <div
    id="store-enhancer-settings"
    data-back-to-top='{{ back_to_top | json | escape }}'
    data-cookie-consent='{{ cookie_consent | json | escape }}'
    style="display:none">
  </div>

  {{ 'back-to-top.css' | asset_url | stylesheet_tag }}
  {{ 'cookie-consent.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'back-to-top.js' | asset_url }}" defer></script>
  <script src="{{ 'cookie-consent.js' | asset_url }}" defer></script>
  <script src="{{ 'store-enhancer-loader.js' | asset_url }}" defer></script>

{% endif %}

{% schema %}
{
  "name": "Store Enhancer Widgets",
  "target": "body",
  "settings": []
}
{% endschema %}